#consso {
    font-family: "Supersonic Rocketship";
    font-size: 7em;
    background: none;
    text-align: center;
    color:white;
    margin-bottom: 60px;
    text-shadow: 2px 2px 0px #59B7AD;

}
.consso_mainPage img {
    width: 30%;
    height: auto;
    position:absolute;
    margin-left: 35%    ;
    margin-top: 10%;
    display: block;
    z-index: 9;
}

.consso_mainPage_text {
    position: absolute;
    margin-top: 14%;
    z-index: 99999;
    margin-left: 52%;
    height: 80px;
    width: 150px;
}

.consso_mainPage_text p{
    color: #060405;
    font-family: "Calibri Light";
    font-size: 20px;
    overflow: hidden;
    width: 150px;
    animation: type 4s steps(60, end);
}

/*span{
    animation: blink 1s infinite;
}*/

@keyframes type{
    from { width: 0; }
}

@keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; }
}

@keyframes blink{
    to{opacity: .0;}
}

::selection{
    background: black;
}