/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}
#consso {
    font-family: "Supersonic Rocketship";
    font-size: 7em;
    background: none;
    text-align: center;
    color:white;
    margin-bottom: 60px;
    text-shadow: 2px 2px 0px #59B7AD;

}
.consso_mainPage img {
    width: 30%;
    height: auto;
    position:absolute;
    margin-left: 35%    ;
    margin-top: 10%;
    display: block;
    z-index: 9;
}

.consso_mainPage_text {
    position: absolute;
    margin-top: 14%;
    z-index: 99999;
    margin-left: 52%;
    height: 80px;
    width: 150px;
}

.consso_mainPage_text p{
    color: #060405;
    font-family: "Calibri Light";
    font-size: 20px;
    overflow: hidden;
    width: 150px;
    animation: type 4s steps(60, end);
}

/*span{
    animation: blink 1s infinite;
}*/

@keyframes type{
    from { width: 0; }
}

@keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; }
}

@keyframes blink{
    to{opacity: .0;}
}

::selection{
    background: black;
}
body {
    background: rgba(97, 110, 95, 0.35);
}

.content {

}
#sidebar{
    width: 25%;
    float:right;
    margin-top: 40px;
}
.header {
    width: 100%;
    min-height: 20px;
    background: white;
    text-align: center;
}
.header img {
    width: 980px;
    height: auto;
    background: white;
}
#center {
    margin: 0 auto;
    width:90%;
}
.footer {
      color:black;
      font-family: "Calibri Light";
      text-align: center;
      margin-top: 35px;
  }

.footer input[type=submit]{
    color:white;
    font-family: "Calibri Light";
    background: black;
    border: none;
}
ul#menu a:hover li div.white, ul#menu a:hover li div.white_up{
    background: rgb(225, 225, 225);
}

ul#menu li{
    display: inline-block;
    float:left;
    margin: 1.5%;
    width: 30%;
    text-align: center;
}
ul#navigation li {
    display: inline-block;
    float:right;
    font-family: "Calibri Light";
    color : white;
    margin: 1.5%;
    text-align: center;
}

ul#tableau li {
    display: inline-block;
    float: left;
    margin: 1.5%;
    width: 20%;
    text-align: center;
}
#room_add:hover {
    background-color: #AAAAAA;
}
#room_add {
    background-color: #C82829;
    color: white;
    font-size: 23px;
    font-family: "Calibri Light";
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
    width:95%;
}
#room_content ul li {
    width: 98%;
    text-align: left;
    display: block;
    float:none;
}
#tableau {
    width: 74%;
    float:left;
    margin: 20px auto;
}
.li_1 {
    width: 35%;
}
.li_2 {
    width: 20%;
}
.li_3 {
    width: 22%;
}
ul#titre li {
     display: inline-block;
     color: white;
     font-family: calibri;
     background: #c82829;
     padding: 10px;
     margin-top: 10px;
     text-align: center;
 }
ul.object li {
    display: inline-block;
    color: #C82829;
    font-family: calibri;
    background: #ffffff;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}
ul#navigation a:hover li {
    color : #e1e1e1;
}
ul#menu, ul#navigation, ul#tableau {
    list-style-type : none;
}
#start {
    margin: 0 auto;
    text-align: center;
    margin-top: 13%;
    margin-bottom: 8%;
}
.add_object {
    background-color: #C82829;
    color:white;
    border:none;
    margin-top: 10px;
    padding: 5px;
}
.add_object:hover {
    background-color: #AAAAAA;
}
.more {
    margin: 5px;
    color: #858885;

}
.room_title {
    background-color: #C82829;
    color:white;
    padding: 10px;
    font-size: 20px;
    font-family: "Calibri Light";
}
#room_content {
    background-color: #ffffff;
    padding: 10px;
    font-size: 15px;
    color:black;
    font-family: "Calibri Light";
}
#start button{
    border: none;
    border-radius: 25px;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-family: "Calibri Light";
    background: #EC6649;
    padding: 10px;
    font-size: 2em;
}
.btn_list button{
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    color: white;
    margin-top: 50px;
    text-align: center;
    font-family: "Calibri Light";
    font-size: 2em;
}
#start button:hover, .btn_list button:hover{
    background: #ff6545;
}
#first {
    text-align: center;
    margin-top: 50px;
}
.room {
    list-style: none;
}
h1 {
    font-family: "Calibri Light";
    font-size: 2em;
}
#demo {
    margin-top:20px;
    font-family: "Calibri Light";
    font-size: 12px;
}
.help {
    width: 50%;
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    background: #99CDD8;
    color: #000;
    font-family: "Calibri Light";
    margin: 15px auto;
}
.help span {
   font-family: "Calibri Light";
}
#add_object {
    background-color: #C82829;
    color: #ffffff;
    font-family: Calibri;
    width: 70px;
    padding: 10px;
    border: none;
    margin-top: 10px;
}
#add_object:hover {
    background-color: #AAAAAA;
}
ul#menu li div.title {
    display: inline-block;
    width: 70%;
    padding: 10px;
    color:white;
    font-family: "Calibri Light";
}
#logo {
    font-family: "Calibri Light";
    color:white;
    padding: 10px;
}
.right {
    float: right;
    width: 60%;
}
.left {
    float:left;
}
.blue {
    background: #59B7AD;
}
.orange {
    background: #EC6649;
}
.yellow {
    background: #FBE45C;
}
ul#menu li div.white {
    display: inline-block;
    width: 65%;
    height: 25px;
    margin-left: 6px;
    background: white;
}

ul#menu li div.white_up {
    display: inline-block;
    width: 65%;
    height: 200px;
    margin-left: 6px;
    background: white;
}
.room {
    color:red;
}

.ecrou{
    background-image: url('../../bundles/App/images/ecrou.png');
    background-size: 17px auto;
    width: 17px;
    height: 17px;
    float: right;
    opacity: 0.5;

}
.croix:hover, .ecrou:hover{
    opacity: 0.7;
}
.croix{
    background-image: url('../../bundles/App/images/croix.png');
    background-size: 17px auto;
    width: 17px;
    height: 15px;
    margin-top: 2px;
    margin-left: 2px;
    float: right;
    opacity: 0.5;
}

.Cuisine, .Cuisine button {
    background: #000;
}
.Cuisine_img {
    background-image: url("../../bundles/App/images/cuisine.png");
    background-size: 165px auto;
    background-repeat: no-repeat;
    background-position: center;
}

.Salle_a_manger{
    background: #8bc34a;
}
.Salle_a_manger_img{
    background-image: url("../../bundles/App/images/Salle_a_manger.png");
    background-size: 165px auto;
    background-repeat: no-repeat;
    background-position: center;
}
.Salon{
    background: #ffc107;
}
.Salon_img{
    background-image: url("../../bundles/App/images/salon.png");
    background-size: 165px auto;
    background-repeat: no-repeat;
    background-position: center;
}
.Salle_de_bain{
    background: #00bcd4;
}.Salle_de_bain_img{
    /*background-image: url("../images/salle_de_bain.png");
    background-size: 165px auto;
    background-repeat: no-repeat;
    background-position: center;*/
}
.Chambre_parentale{
    background: #673ab7;
}.Chambre_parentale_img{
    background-image: url("../../bundles/App/images/chambre.png");
    background-size: 165px auto;
    background-repeat: no-repeat;
    background-position: center;
}
.Chambre_enfant{
    background: #9c27b0;
}.Chambre_enfant_img{
    background-image: url("../../bundles/App/images/chambre_enfant.png");
    background-size: 165px auto;
    background-repeat: no-repeat;
    background-position: center;
}
.Bureau{
    background: #ff5722;
}.Bureau_img{
    background-image: url("../../bundles/App/images/bureau.png");
    background-size: 165px auto;
    background-repeat: no-repeat;
    background-position: center;
}
.Other{
    /*background: #000;*/
}
#room_content ul {
    min-height: 130px;
}
@font-face {
    font-family: superHero;
    src: url(../../bundles/App/css/superHero.ttf);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

    opacity: 1;

}

input[type=number]{
     width: 35px;
     margin-right: 5px;
 }
input[type=text]{
    width: 58px;
}