{% extends 'base.html.twig' %}

 {% block stylesheets %}
 {% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="header clearfix">
            <div class="left"><a href="/"><div id="logo">CONSSO.FR</div></a></div>
            <div class="right">
                <ul id="navigation" class="clearfix">
                    {% if client is defined %}<a href="/logout"><li>Se déconnecter</li></a>{% endif %}
                    <a href=""><li>A propos</li></a>
                    <a href=""><li>Références</li></a>
                    <a href=""><li>Objectifs</li></a>
                    <a href=""><li>Contact</li></a>
                </ul>
            </div>

        </div>
        <div class="content clearfix">
            <div class="window">
                <h1>Avant de commencer...</h1>
                <br><br>
                <p><span style="font-weight:bold;">Durée :</span> 5min </p><br>
                <p><span style="font-weight:bold;">Objectif :</span> Ce questionnaire à pour objectif de vous aider à établir une structure pré-établie afin de vous permettre de renseigner le moins d'éléments possibles par la suite.
                Une fois votre tableau de bord finalisé vous pourrez comparer vos résultats avec d'autres utilisateurs anonymes.</p>
                <br>
                <p><span style="font-weight:bold;">Votre code : {{ name }}</span></p>
                <p>Utilisez se code pour retrouver a tout moment votre tableau de bord, notez le bien.</p>
                <div id="start">
                    <a href="{{ path('questionnaire') }}" id="btn_start">COMMENCER</a>
                </div>
            </div>
            <div class="col3"></div>
        </div>
        <div class="footer">
            Vous souhaitez consulter ou modifier des informations ultérieurement? Voici votre nouveau code : {{ name }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts'@AppBundle/Resources/public/js/*' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}